@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

body {
  width: 100vw;
  margin: 0;
  padding: 0;

  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: rosybrown;
  color: coral;
}

#header {
  position:absolute;
  left: 50%;
  transform: translate(-50%, 3vh);

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  background-color: royalblue;
  box-shadow: 0.5vh 0.5vh 2vh rgba(0, 0, 0, 0.5);
  outline: 0.3vh solid #000;
  text-shadow: #000 0.2vh 0.2vh 0.2vh;
  border-top-left-radius: 0.75vh;
  border-top-right-radius: 0.75vh;
}

#scoreGroup {
  margin: 0.5vh 0 0.25vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreText {
  min-width: 11.25vh;
  width: 15vh;
  max-width: calc(15vw - 0.75vh);
  margin: 0;

  font-size: 2vh;

  box-sizing: border-box;
  align-self: center;
}

#gameText {
  min-width: 22.5vh;
  width: 30vh;
  max-width: 30vw;
  margin: 0;

  font-size: 4vh;

  text-align: center;
  align-self: center;
}

.text-left {
  margin-left: 1vh;
  text-align: left;
}
.text-right {
  margin-right: 1vh;
  text-align: right;
}

#infoText {
  margin: 1.5vh 0 1vh;

  font-size: 2.5vh;

  text-align: center;
}

#board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  box-shadow: 0.5vh 0.5vh 2vh rgba(0, 0, 0, 0.5);

  animation: fadeIn 1.25s ease-in-out;
}

.cell {
  width: 20vh;
  height: 20vh;
  min-width:  15vh;
  min-height: 15vh;
  max-width: 20vw;
  max-height: 20vw;

  font-size: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: 0.3vh solid #000;
  background-color: royalblue;
  color: coral;
  text-shadow: #000 0.2vh 0.2vh 1.2vh;

  cursor: pointer;
  user-select: none;
}
.cell:hover {
  background-color: coral;
  color: royalblue;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
